# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCmsDJQqlbFY1RUvDQWNqJPD5YMRPYYSNc
VITE_FIREBASE_AUTH_DOMAIN=lautech-economic-class29.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lautech-economic-class29
VITE_FIREBASE_STORAGE_BUCKET=lautech-economic-class29.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=521432549782
VITE_FIREBASE_APP_ID=1:521432549782:web:6b2f946921abf6e1b2f5b7
